{
    "presets": [
        [
            "@babel/preset-env",
            {
                "useBuiltIns": "usage",
                "corejs": "3.3",
                "targets": {
                    "ie": "12"
                },
                "debug": false
            }
        ]
    ],
    "plugins": [
        "@babel/plugin-transform-runtime"
    ]
}